.homeLink {
    color:rgb(78, 0, 0);
    align-content: left;
}
.homeLink:hover {
    color:crimson;
}
.homeLink:active {
    color:firebrick;
}
.homeLink:visited {
    color:#99004d;
}
h1 { 
    font-family:sans-serif ;
    font-size:40px; 
    color:#ff0000; 
    font-weight:bold; 
} 
body { 
    margin: 0 auto; 
    background-position:center; 
    background-size: contain; 
} 
.menu {    
    position: sticky; 
    top: 0; 
    background-color: #009900; 
    padding:10px 0px 10px 0px; 
    color:white; 
    margin: 0 auto; 
    overflow: hidden; 
} 
.menu a { 
    float: left; 
    color: white; 
    text-align: center; 
    padding: 14px 16px; 
    text-decoration: none; 
    font-size: 20px; 
} 
.menu-log { 
    right: auto; 
    float: right; 
} 
footer { 
    width: 100%; 
    bottom: 0px; 
    background-color: #000; 
    color: #fff; 
    text-align:center; 
    font-size:30px; 
    font-weight:bold; 
} 
.body_sec { 
    margin-left:20px; 
} 